name: Conda

on:
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-latest, windows-2022, macos-14]
        python-version: ["3.9", "3.12"]

    runs-on: ${{ matrix.platform }}

    # The setup-miniconda action needs this to activate miniconda
    defaults:
      run:
        shell: "bash -l {0}"

    steps:
      - uses: actions/checkout@v6

      - name: Setup MSVC
        if: runner.os == 'Windows'
        uses: ilammy/msvc-dev-cmd@v1

      - name: Temporarily rename Git's link.exe
        if: runner.os == 'Windows'
        shell: cmd
        run: |
          if exist "C:\Program Files\Git\usr\bin\link.exe" (
            ren "C:\Program Files\Git\usr\bin\link.exe" "link.exe.bak"
          )

      - name: Get conda
        uses: conda-incubator/setup-miniconda@v3.2.0
        with:
          python-version: ${{ matrix.python-version }}
          channels: conda-forge

      - name: Prepare
        run: conda install conda-build conda-verify

      - name: Build
        run: conda build conda.recipe
        env:
          DISTUTILS_USE_SDK: 1
          MSSdk: 1

      - name: Restore Git's link.exe
        if: runner.os == 'Windows' && always()
        shell: cmd
        run: |
          if exist "C:\Program Files\Git\usr\bin\link.exe.bak" (
            ren "C:\Program Files\Git\usr\bin\link.exe.bak" "link.exe"
          )

      - name: Install
        run: conda install -c ${CONDA_PREFIX}/conda-bld/ whr

      - name: Test
        run: python tests/test_whr.py
